.App {
  text-align: center;
}

.app-header {
  background-color: #020069;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.created-by {
  font-size: 20px;
}

.board-grid {
  margin: auto;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  height: 30px;
  width: 30px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid;
}

.player-grids-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 50px; */
}

.p1-ship {
  background: blue;
}

.hit {
  background: rgb(15, 71, 1);
}

.attacked {
  background: rgb(71, 1, 1);
}